---
import "../styles/global.css";
import HamMenu from "./HamMenu";
---


<div class = 
    "z-50 fixed top-0 w-full text-xs md:text-base px-8 py-8 md:pt-8
    topbar-slide-in">
    {/* This is the desktop version */ }
    <div class = "hidden md:block">
        <nav class = "flex justify-between">
            <div class = "flex items-center gap-2 md:gap-5 md:ml-8">
               <a href="/" class="relative flex items-center justify-center w-10 h-10 group">
                    <span class="text-base font-bold text-gray-800 group-hover:text-blue-600 transition-colors duration-200 z-10">N</span>
                    <div class="absolute inset-0 border-2 border-blue-600 rounded-sm transition-all duration-200 group-hover:scale-105">
                        <div class="absolute top-0.5 left-0.5 w-2 h-2 border-t-2 border-l-2 border-blue-600 rounded-tl-sm
                                    transition-all duration-200 ease-out
                                    group-hover:translate-x-1 group-hover:translate-y-1"></div>
                        <div class="absolute top-0.5 right-0.5 w-2 h-2 border-t-2 border-r-2 border-blue-600 rounded-tr-sm
                                    transition-all duration-200 ease-out
                                    group-hover:-translate-x-1 group-hover:translate-y-1"></div>
                        <div class="absolute bottom-0.5 left-0.5 w-2 h-2 border-b-2 border-l-2 border-blue-600 rounded-bl-sm
                                    transition-all duration-200 ease-out
                                    group-hover:translate-x-1 group-hover:-translate-y-1"></div>
                        <div class="absolute bottom-0.5 right-0.5 w-2 h-2 border-b-2 border-r-2 border-blue-600 rounded-br-sm
                                    transition-all duration-200 ease-out
                                    group-hover:-translate-x-1 group-hover:-translate-y-1"></div>
                    </div>
                </a>
                <p class = "text-sm text-gray-500 font-semibold uppercase tracking-wide whitespace-nowrap">Kelvin Ngan</p>
            </div>
            <div class = "flex gap-8 items-center justify-end text-base md:mr-8">
                <a href = "#about" class = "nav-link transition-colors duration-200 hover:text-blue-600 focus:outline-none" >About</a>
                <a href = "#experience" class = "nav-link transition-colors duration-200 hover:text-blue-600 focus:outline-none" >Experience</a>
                <a href = "#featured-work" class = "nav-link transition-colors duration-200 hover:text-blue-600 focus:outline-none" >Featured Work</a>
                <a href = "#other-projects" class = "nav-link transition-colors duration-200 hover:text-blue-600 focus:outline-none" >Projects</a>
                <a href = "#contact" 
                class = "nav-link inline-block px-4 py-2 rounded-lg font-semibold
                        bg-blue-600 text-white
                        hover:-translate-y-1 hover:-translate-x-1
                        hover:bg-blue-700 hover:shadow-[4px_4px_0px_0px_rgba(37,99,235,0.4)]
                        focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2
                        cursor-pointer transition-all duration-200 will-change-transform " >
                        Contact</a>
                
                
            </div>
        </nav>
    </div>
    {/* This is the mobile version */ }
    <div class = "md:hidden">
        <nav class = "flex justify-between mx-2 sm:mx-4 ">
            <div>
                <a href="/" class="relative flex items-center justify-center w-10 h-10 group">
                    <span class="text-base font-bold text-gray-800 group-hover:text-blue-600 transition-colors duration-200 z-10">N</span>
                    <div class="absolute inset-0 border-2 border-blue-600 rounded-sm transition-all duration-200 group-hover:scale-105">
                        <div class="absolute top-0.5 left-0.5 w-2 h-2 border-t-2 border-l-2 border-blue-600 rounded-tl-sm
                                    transition-all duration-200 ease-out
                                    group-hover:translate-x-1 group-hover:translate-y-1"></div>
                        <div class="absolute top-0.5 right-0.5 w-2 h-2 border-t-2 border-r-2 border-blue-600 rounded-tr-sm
                                    transition-all duration-200 ease-out
                                    group-hover:-translate-x-1 group-hover:translate-y-1"></div>
                        <div class="absolute bottom-0.5 left-0.5 w-2 h-2 border-b-2 border-l-2 border-blue-600 rounded-bl-sm
                                    transition-all duration-200 ease-out
                                    group-hover:translate-x-1 group-hover:-translate-y-1"></div>
                        <div class="absolute bottom-0.5 right-0.5 w-2 h-2 border-b-2 border-r-2 border-blue-600 rounded-br-sm
                                    transition-all duration-200 ease-out
                                    group-hover:-translate-x-1 group-hover:-translate-y-1"></div>
                    </div>
                </a>
            </div>
            <div class = "fixed top-8 right-8">
                <HamMenu client:load/>
            </div>
        </nav>
    </div>
</div>


<script>

</script>