---

import "../styles/global.css";
import { IoIosArrowForward } from "react-icons/io";
---

<section id="about" class = "snap-start" >
    <div class = "mx-8 md:mx-25 flex items-center">
        <h1 class = "whitespace-nowrap font-bold text-xl md:3xl">1. About me</h1>
        <div class = "w-full bg-gray-300 h-px ml-2"></div>
    </div>
    <p class = "mx-8 md:mx-25"> This is a place holder paragraph</p>
    <p class = "mx-8 md:mx-25"> I had work with the following technologies recently</p>
    <div class = "grid grid-cols-2 gap-2 mx-7 md:mx-25">
        <div class = "flex items-center justify-start">
            <IoIosArrowForward/>
            <p>Javascript</p>
        </div>
        <div class = "flex items-center justify-start">
            <IoIosArrowForward/>
            <p>Typescript</p>
        </div>
        <div class = "flex items-center justify-start">
            <IoIosArrowForward/>
            <p>Node.js</p>
        </div>
        <div class = "flex items-center justify-start">
            <IoIosArrowForward/>
            <p>ReactJS</p>
        </div>
        <div class = "flex items-center justify-start">
            <IoIosArrowForward/>
            <p>Tailwind</p>
        </div>
        <div class = "flex items-center justify-start">
            <IoIosArrowForward/>
            <p>astro</p>
        </div>
        <div class = "flex items-center justify-start">
            <IoIosArrowForward/>
            <p>HTML</p>
        </div>
        <div class = "flex items-center justify-start">
            <IoIosArrowForward/>
            <p>CSS</p>
        </div>
    </div>
</section>