---
import "../styles/global.css";
import Tag from "./Tag.astro"
import { FaGithub } from "react-icons/fa";

export interface ProjData{
    title : string;
    content : string;
    href?: string;
}

export interface TagData{
    color : string;
    content : string;
}

const tags: TagData[] = [
    {color: "blue" , content: "React"},
    {color: "green" , content: "Tailwind"},
    {color: "yellow" , content: "Electron"},
    {color: "orange" , content: "Chrome Extension"},
    {color: "Purple" , content: "Google Map API"}
]

const {title, content, href} = Astro.props;

---
<div id="card" data-href={href}>
    <div class = "hidden md:block">
        this is for desktop version
    </div>
    <div class = "md:hidden rounded-lg bg-gray-200/50 p-2">
        <div class = "text-red-500">
            Featured
        </div>
        <div class = "text-lg md:text-3xl font-bold">
            {title}
        </div>
        <div class = "text-base md:text-3xl mt-3">
            <p>
                {content}
            </p>
        </div>
        <div 
            class="flex justify-center items-center">
            {}
            <Tag/>
        </div>
        <div>
            <FaGithub className = "text-3xl"/>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded' , () => {
        const card = document.getElementById('card');
        if(card){
            card.addEventListener('click' ,() => {
                console.log('card is clicked')
                const href = card.dataset.href
                if(href){
                    window.open(href)
                }
            })
        }
    })
    
    
</script>
