---
import "../styles/global.css";
import Tag from "./Tag.astro"
export interface TagData{
    color : string;
    content : string;
}

const tags: TagData[] = [
    {color: "blue" , content: "React"},
    {color: "green" , content: "Tailwind"},
    {color: "yellow" , content: "Electron"},
    {color: "orange" , content: "Chrome Extension"},
    {color: "Purple" , content: "Google Map API"}
]
---


<div
    class="text-3xl font-bold underline">
    <div>
        Title
    </div>
    <div>
        Content
    </div>
    <div 
        class="flex justify-center items-center">
        {}
        <Tag/>
    </div>
</div>