---
import Reference from "./Reference.astro"
---

<section id = "contact" class = "snap-start h-screen flex flex-col " >
    <div class = "flex-1 flex flex-col justify-center mx-48 my-16 gap-4">
        <div class = "text-3xl text-center">
            Let's Connect
        </div>
        <div class = "text-center">
            I am actively seeking new opportunities to work, 
            learn, and collaborate with others. 
            If you have a project, position, or idea where we can grow together, 
            feel free to reach out!
        </div>
        <div class = "text-center h-16 mt-8" id = "contact">
            <a 
                href="mailto:nth.dev@icloud.com"
                class = "inline-block border  p-4 rounded-xs text-xl
                hover:-translate-y-2 hover:-translate-x-2 hover:border-b-4 hover:border-r-4 
                hover:border-red-500 cursor-pointer transition"
                >
                Contact Me
            </a>
        </div>
    </div>
    <div>
        <Reference/>
    </div>
</section>

