---
import Qualification from './Qualification.astro'
import ExperienceTabs from './ExperienceTabs'
---
<section id="experience" class="snap-start pt-24 overflow-y-auto h-screen">
    <div class = "mx-8 md:mx-24 flex items-center">
        <h1 class = "whitespace-nowrap font-bold text-xl md:text-2xl">2. Experience</h1>
        <div class = "w-full bg-gray-300 h-px ml-2"></div>
    </div>
    
    <div class = "mx-8 md:mx-24 mt-8">
        <ExperienceTabs client:load />
    </div>
    
    <div class = "mx-8 md:mx-24">
        <Qualification/>
    </div>
</section>