---
import { IoIosArrowForward } from "react-icons/io";
---
<section id="experience" class="snap-start">
    <div class = "mx-8 md:mx-24 flex items-center">
        <h1 class = "whitespace-nowrap font-bold text-xl md:3xl">2. Experience</h1>
        <div class = "w-full bg-gray-300 h-px ml-2"></div>
    </div>
    <div class = "mx-8 md:mx-24">
        <div class = "flex items-center justify-start gap-4">
            <p class="font-semibold text-gray-900">Assistant Project Manager</p>
            <span class="text-gray-500 font-normal">|</span>
            <p class="text-gray-500 font-medium">Gaw Capital Asset Manamgnet Limited</p>
        </div>
        <p class="text-sm text-gray-400 mt-1">2018 - Present</p>
     <div class="max-w-xl mt-4 flex flex-col gap-4">
        <div class = "flex items-start gap-4 max-w-xl">
            <div class = "mt-1">
                <IoIosArrowForward />
            </div>
            <div>
                <p>
                    Analyzed team workflows to identify inefficiencies in project expenditure tracking; 
                    proposed and developed a desktop application to automate data extraction and payment 
                    form generation from Excel files, designed user workflows, gathered user feedback, 
                    and iteratively improved the tool to centralize tracking and enhance team efficiency.
                </p>
            </div>
        </div>
        <div class = "flex items-start gap-4 max-w-xl">
            <div class = "mt-1">
                <IoIosArrowForward />
            </div>
            <div>
                <p>
                    Collaborated with internal IT teams and end users to identify and suggest use cases 
                    for adopting automation and AI agents to enhance workflow efficiency; 
                    drafted presentations and architecture diagrams, developed technical demos, 
                    and utilized concepts such as user journeys and happy paths 
                    to illustrate how the software could be integrated into existing workflow.
                </p>
            </div>
        </div>      
        <div class = "flex items-start gap-4 max-w-xl">
            <div class = "mt-1">
                <IoIosArrowForward />
            </div>
            <div>
                <p>
                    Managed multiple properties as a project manager, overseeing technical aspects 
                    and coordinating with leasing and property management teams to deliver construction projects 
                    on schedule and within budget, while ensuring full compliance with relevant 
                    regulations and standards.
                </p>
            </div>
        </div>      
    </div>
</section>