---
import Card from './Card'
import FeaturedCard from './FeaturedCard'
---

<section id="work" class = "snap-start h-screen pt-24" >
    <div class = "mx-2 sm:mx-4 md:mx-24 flex items-center">
        <h1 class = "whitespace-nowrap font-bold text-xl md:text-2xl">3. What i've built</h1>
        <div class = "w-full bg-gray-300 h-px ml-2"></div>
    </div>
    <div class = " 
        pt-8
        mx-[clamp(1rem,6vw,6rem)]
        mx-2 ">
        <div class="relative w-full flex flex-col items-end justify-end">
            <div class="absolute -top-8 right-4 z-10 text-right">
                <div class="bg-gradient-to-r from-red-500 to-pink-500 text-white text-xs 
                font-semibold px-3 py-1 rounded-full shadow uppercase tracking-wider hidden md:inline-block sm:inline-block  ">
                    Featured Project
                </div>
                 <div class="mt-1 font-extrabold text-2xl md:text-2xl text-gray-900 drop-shadow hidden md:block sm:block  ">
                    Lunch Roulette
                 </div>
            </div>
            <FeaturedCard
                client:visible
                title="Lunch Roulette"
                content={`A web app that recommends restaurants, categories by location, cuisines. Spin the roulette to decide what to get for lunch!`}
                tagNames={["JavaScript", "Next.js", "React", "Tailwind", "Vercel", "Google Map API"]}
                href={"https://lunch-roulette-phi.vercel.app/"}
                gitHref={"placeholder"}
            />
        </div>
    </div>
</section>