---
import FeaturedCard from './FeaturedCard'
---

<section id="work" class = "snap-start min-h-screen pt-24 overflow:hidden" >
    <div class = "mx-2 sm:mx-4 md:mx-24 flex items-center">
        <h1 class = "whitespace-nowrap font-bold text-xl md:text-2xl">3. What i've built</h1>
        <div class = "w-full bg-gray-300 h-px ml-2"></div>
    </div>
    <div class = " 
        pt-4
        mx-[clamp(1rem,6vw,6rem)]
        mx-2 ">
        <div class="relative w-full flex flex-col items-center justify-center">
            <FeaturedCard
                client:visible
                title="Lunch Roulette"
                content={`A web app that recommends restaurants, categories by location, cuisines. Spin the roulette to decide what to get for lunch!`}
                tagNames={["JavaScript", "Next.js", "React", "Tailwind", "Vercel", "Google Map API"]}
                href={"https://lunch-roulette-phi.vercel.app/"}
                gitHref={"placeholder"}
            />
        </div>
    </div>
</section>