---
---

<div>
    <h2>I Build things to solve real-world problems.</h2>
    <p> I'm a software engineer from a non-traditional background 
        who builds practical applications to solve real-world problems,
        from "waht's the lunch today?" to a chatbot that provide
        professional advice in specific domain.
    </p>
</div>