---
---

<section class = "h-screen snap-start flex flex-col justify-center">
    <div class = "mx-24 max-w-2xl
        flex flex-col items-start justify-center
        ">
        <p class = "text-5xl font-bold md:text-5xl">
            I Build things to solve real-world problems.
        </p>
        <p class = "text-lg mt-8"> 
            I'm a software engineer from a non-traditional background 
            who builds practical applications to solve real-world problems,
            from "waht's the lunch today?" to a chatbot that provide
            professional advice in specific domain.
        </p>
        <div class= "ml-2 mt-12 h-16 overflow-visible">
            <a 
                href="#contact"
                class = "inline-block border p-4 rounded-xs text-xl
                hover:-translate-y-2 hover:-translate-x-2 hover:border-b-4 hover:border-r-4 
                hover:border-red-500 cursor-pointer transition"
                >
                Contact Me
            </a>
        </div>
    </div>
</section>
