---
import TopBar from './TopBar.astro'
import About from './About.astro'
import Introduction from './Introduction.astro'
import Experience from './Experience.astro'
import Qualification from './Qualification.astro'
import Work from './Work.astro'
import Contact from './Contact.astro'
import BottomBar from './BottomBar.tsx'
import Reference from './Reference.astro'
---

<div >
    <div id = "top-bar">
        <TopBar/>
    </div>
    <div 
        id = 'snapContainer'
        class="snap-y snap-mandatory h-screen overflow-y-scroll">
        <Introduction/>
        <About/>
        <div class = "h-screen">
            <Experience/>
            <Qualification/>
        </div>
            <Work/>
            <Contact/>
            <BottomBar/>
            <Reference/>
    </div>
</div>

<script>
    let lastState = false;
    let lastYCoor = 0
    window.addEventListener('DOMContentLoaded' , () => {
        const snapContainer = document.getElementById('snapContainer');
        const bar = document.getElementById('top-bar');
        if(!snapContainer || !bar) return
        
        snapContainer.addEventListener('scroll' , () => {
            const bar = document.getElementById('top-bar');
            const scrollY = snapContainer.scrollTop
            if(!bar) return
            if(scrollY > lastYCoor){
                if(!lastState){
                    bar.classList.remove('topbar-slide-in')
                    bar.classList.add('topbar-slide-out')
                    lastState = true
                } 
            } else if (scrollY < lastYCoor) {
                if(lastState ){
                    bar.classList.remove('topbar-slide-out')
                    bar.classList.add('topbar-slide-in')
                    lastState = false
                }
            }
            lastYCoor = scrollY;
        })
    })

</script>