---
import TopBar from './TopBar.astro'
import About from './About.astro'
import Introduction from './Introduction.astro'
import Experience from './Experience.astro'
import Qualification from './Qualification.astro'
---

<div>
    <TopBar/>
    <Introduction/>
    <About/>
    <Experience/>
    <Qualification/>
</div>