---
import QualficationCard from './QualificationCard'
---

<section id="qualification">
    <div class = "my-8 mx-2 sm:mx-4 md:mx-16 lg:mx-24 flex items-center">
        <h1 class = "whitespace-nowrap font-bold text-xl md:3xl">3. Qualification</h1>
        <div class = "w-full bg-gray-300 h-px ml-2"></div>
    </div>
    <div class = "
        grid grid-cols-1
        sm:grid-cols-1 sm:mx-4
        md:grid-cols-2 md:mx-24
        mx-2 gap-6  ">
        
        <QualficationCard
            client:visible
            title = "AWS Certified Solutions Architect-  Associate"
            img = "/AWS badge.png"
            date = "Nov 2024"
        />
        <QualficationCard
            client:visible
            title = "CS50"
            img = "/CS50x.png"
            date = "Oct 2023"
        />
    </div>
</section>