---
import QualficationCard from './QualificationCard'
---

<section id="qualification" class="overflow-y-auto mt-8"> 
    <div class = "flex items-center mb-4">
        <h3 class = "font-medium text-sm md:text-base text-gray-500 uppercase tracking-wide">Certifications & Education</h3>
    </div>
    <div class = "
        grid grid-cols-1
        sm:grid-cols-1 
        md:grid-cols-2 
        gap-3 md:gap-4">
        
        <QualficationCard
            client:visible
            title = "AWS Certified Solutions Architect-  Associate"
            img = "/AWS badge.png"
            date = "Nov 2024"
        />
        <QualficationCard
            client:visible
            title = "CS50"
            img = "/CS50x.png"
            date = "Oct 2023"
        />
    </div>
</section>