---
import QualficationCard from './QualificationCard'
---

<section id="#qualification">
    <div class = "mx-8 md:mx-25 flex items-center">
        <h1 class = "whitespace-nowrap font-bold text-xl md:3xl">3. Qualification</h1>
        <div class = "w-full bg-gray-300 h-px ml-2"></div>
    </div>
    <div class = "mx-8 md:mx-25">
        <QualficationCard
            title = "AWS solution architect associate"
            img = "../public/AWS badge.png"
            date = "12 dec 2024"
        />
        <QualficationCard
            title = "AWS solution architect associate"
            img = ""
            date = "12 dec 2024"
        />
    </div>
</section>