---
import QualficationCard from './QualificationCard'
---

<section id="qualification" class="overflow-y-auto mt-12"> 
    <div class = "flex items-center">
        <h3 class = "whitespace-nowrap font-medium text-base md:text-lg text-gray-600">Certifications & Education</h3>
        <div class = "w-full bg-gray-200 h-px ml-4"></div>
    </div>
    <div class = "
        grid grid-cols-1
        sm:grid-cols-1 
        md:grid-cols-2 
        gap-3 md:gap-4
        mt-4">
        
        <QualficationCard
            client:visible
            title = "AWS Certified Solutions Architect-  Associate"
            img = "/AWS badge.png"
            date = "Nov 2024"
        />
        <QualficationCard
            client:visible
            title = "CS50"
            img = "/CS50x.png"
            date = "Oct 2023"
        />
    </div>
</section>