---
    import { FaCodeFork } from "react-icons/fa6";
---

<footer class="w-full text-center text-gray-500 text-sm py-6  border-gray-200">
  <div>
    Inspired by
    <a href="https://v4.brittanychiang.com/" 
        target="_blank" 
        rel="noopener noreferrer" 
        class="underline hover:text-blue-600">Brittany Chiang</a>
    &middot; Built with Astro
  </div>
  <div class="mt-2">
    <a href="#" class="inline-flex items-center gap-1 text-gray-500 hover:text-blue-600">
      <FaCodeFork className="text-lg" />
      Fork this site
    </a>
  </div>
</footer>