---
    import { FaCodeFork } from "react-icons/fa6";
---

<section>
    <div class = "text-center pb-8 text-lg">
        <div>
            <span>Inspired by</span>
            <a
                href="https://v4.brittanychiang.com/"
                rel = "noopener noreferrer"
                target="_blank"
            >
                Brittany Chiang
            </a>
        </div>
        <div>
            Built with Astro
        </div>
        <div>
            <span>Welcome to Fork </span>
            <a
                href=""
                rel = "noopener noreferrer"
                target="_blank"
                class = "text-lg inline-flex"
            >
                <FaCodeFork className = "text-xl"/>
            </a>
        </div>
    </div>

</section>