---
// An icon button on top left
    // move when click
    //link to the page
// line up 4 buttons
    // on click, croll the page to certain portion
// a special button that link to a resume

import "../styles/global.css";
---

<div>
    <div>
        <nav>
            <a href = "#about" class = "nav-link" >About</a>
            <a href = "#experience" class = "nav-link" >Experience</a>
            <a href = "#qualification" class = "nav-link" >Qualification</a>
            <a href = "#contact" class = "nav-link" >Contact</a>
        </nav>
    </div>
</div>

<script>

</script>