---
// An icon button on top left
    // move when click
    //link to the page
// line up 4 buttons
    // on click, croll the page to certain portion
// a special button that link to a resume

import "../styles/global.css";
---

<div>
    <div class = "sticky top-0 w-full text-xs md:text-base py-5 md:py-10">
        <nav class = "flex justify-between">
            <div class = "flex items-start gap-2 md:gap-5 ml-3 md:ml-10">
                <a href = "#icon">
                    <img src = "" alt = "icon"/>
                </a>
                <p class = "">My Name</p>
            </div>
            <div class = "flex gap-2 md:gap-15 mr-3 md:mr-10">
                <a href = "#about" class = "nav-link" >About</a>
                <a href = "#experience" class = "nav-link" >Experience</a>
                <a href = "#qualification" class = "nav-link" >Qualification</a>
                <a href = "#contact" class = "nav-link" >Contact</a>
            </div>
        </nav>
    </div>
</div>

<script>

</script>