---
import Card from './Card'
---

<section id="#work">
    <div class = "mx-8 md:mx-25 flex items-center">
        <h1 class = "whitespace-nowrap font-bold text-xl md:3xl">4. Work</h1>
        <div class = "w-full bg-gray-300 h-px ml-2"></div>
    </div>
    <div class = "flex flex-col justify-start items-stretch gap-6 mx-8 md:mx-25">
        
        <Card
            client:visible
            title = "Lunch Roulette"
            content = {`A web app that recommand restaurants, categories by location, crusines
            . Spin the roulette to decide what to get for lunch!`}
            tagNames = {["JavaScript" , "Next.js", "React" , "Tailwind", "Vercel" , "Google Map API"]}
            href = {"https://lunch-roulette-phi.vercel.app/"}
        />
        <Card
            client:visible
            title = "Landlord Provision Chatbot"
            content = {`A chatbot that recommand industry standard premise provision for 
            leasing commercial real estate, such as retail, restaurant`}
            tagNames = {["TypeScript" , "openAI" , "Azure"]}
            href = {"placeholder"}
        />
        <Card
            client:visible
            title = "LLM-Token-Checker"
            content = {`A chrome extension that tracks the amount of free token you have
            and refresh time for LLM chatbot such as POE.com, Grok`}
            tagNames = {["JavaScript" , "React" , "Chrome Extension"]}
            href = {"placeholder"}
        />
        <Card
            client:visible
            title = "Payment Form filler"
            content = {`An desktop Application that takes in a master table in an excel file,
            extract its content, check the format and paste onto a separate excel form`}
            tagNames = {["JavaScript" , "Electron", "React", "CSS" , "HTML"]}
            href = {"placeholder"}
        />
    </div>
</section>