---
import Qualification from '../components/experience/Qualification.astro'
import ExperienceTabs from '../islands/ExperienceTabs'
---
<section id="experience" data-main-section class="min-h-screen snap-start">
    <div class = "flex flex-col pt-24 pb-8 min-h-screen">
        <div class = "shrink-0 px-[clamp(4rem,12vw,16rem)] flex items-center">
            <h1
                class = "whitespace-nowrap font-bold text-xl md:text-2xl text-gray-800"
            >2. Experience</h1>
            <div class = "w-full bg-gray-300 h-px ml-2"></div>
        </div>
        
        <div class = "flex-1">
            <div class = "px-[clamp(2rem,12vw,16rem)] mt-8">
                <ExperienceTabs client:load />
            </div>
            
            <div class = "px-[clamp(2rem,12vw,16rem)]">
                <Qualification/>
            </div>
        </div>
    </div>
</section>
