---
import FeaturedProjectCard from '../islands/FeaturedProjectCard'
---

<section id="featured-work" data-main-section class = "h-screen snap-start snap-always" >
    <div class = "h-full overflow-hidden flex flex-col pt-24">
        <div class = "shrink-0 mx-8 md:mx-24 flex items-center">
            <h1 class = "whitespace-nowrap font-bold text-xl md:text-2xl">3. Featured Work</h1>
            <div class = "w-full bg-gray-300 h-px ml-2"></div>
        </div>
        <div data-section-scroll-body class = "flex-1 min-h-0 overflow-y-auto">
            <div class = " 
                pt-4 pb-8
                mx-8 md:mx-24 ">
                <div class="relative w-full flex flex-col items-center justify-center">
                    <FeaturedProjectCard
                        client:visible
                        title="Lunch Roulette"
                        content={`A web app that recommends restaurants, categories by location, cuisines. Spin the roulette to decide what to get for lunch!`}
                        tagNames={["JavaScript", "Next.js", "React", "Tailwind", "Vercel", "Google Map API"]}
                        href={"https://lunch-roulette-phi.vercel.app/"}
                        gitHref={"placeholder"}
                    />
                </div>
            </div>
        </div>
    </div>
</section>