---
---

<section id="home" data-main-section class = "min-h-screen snap-start">
    <div class = "mx-8 md:mx-24 min-h-screen
        flex flex-col items-start justify-center py-16 sm:py-20
        ">     
        <div class = "animate-in delay-200 max-w-4xl text-gray-800">
            <p class ="text-[clamp(2rem,2.84vw+1.29rem,3.8rem)] font-bold ">
                I Build things to solve real-world problems.
            </p>
        </div>
        
        <p class = "text-base max-w-xl text-gray-700
            mt-8 animate-in delay-400"> 
            I'm a software engineer from a non-traditional background 
            who builds practical applications to solve real-world problems,
            from "what's the lunch today?" to a chatbot that provide
            professional advice in specific domain.
        </p>
        
        <div class= "mt-12 h-16 overflow-visible animate-in delay-600">
            <a 
                href="#contact"
                class = "inline-block px-6 py-3 rounded-xl font-bold text-lg
                        border-2 border-blue-600 text-blue-600 bg-transparent
                        hover:-translate-y-1 hover:-translate-x-1
                        hover:border-blue-700 hover:text-blue-700
                        hover:shadow-[6px_6px_0px_0px_rgba(37,99,235,0.3)]
                        cursor-pointer transition-all duration-200 will-change-transform"
                style = "font-family: 'Rajdhani', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; letter-spacing: 0.02em;"
                >
                Contact Me
            </a>
        </div>
    </div>
</section>
